@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

header{
    background-image: url(@/assets/img/Topo/bg-topo.jpg);
}
footer{
    background-image: url(@/assets/img/Topo/bg-topo.jpg);
}

.menus{
    background-color: transparent;
    color: white;
    border-color: white;
}
.butt{
    background-color: transparent;
    color: #1FD86F;
    border-color:#1FD86F ;
}
.buttonmenu{
    color:#1FD86F;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.direitos2{
    color: #1FD86F;
}

.direitos{
    color: #1FD86F;
    padding-top: 10px;
    padding-left: 130px;
}

.rodape{
    height: 60px;
    padding-top: 10px;
}

.mostAcessed{
    height: 170px;
}

.mostAcessed2{
    height: 170px;
    width: 300px;
    box-shadow: 5px 10px 20px 0px  #1FD86F;
    margin: 10px;
    border-radius: 20px;
}


.cards{
    text-decoration: none;
    color: #1FD86F;
}

.cards2{
    color: black;
}
.cards21{
    color: black;
    font-size: 20px;
}

