header{
    background-image: url(../img/bg-topo.jpg);
}
.menus{
    background-color: transparent;
    color: #1FD86F;
    border-color: white;
}
.butt{
    background-color: transparent;
    color: white;
    border-color:#1FD86F ;
}
.buttonmenu{
    color:#1FD86F;
}

.bannerImages{
    height: 500px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}