@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

header{
    background-image: url(@/assets/img/Topo/bg-topo.jpg);
}
footer{
    background-image: url(@/assets/img/Topo/bg-topo.jpg);
}

.menus{
    background-color: transparent;
    color: white;
    border-color: white;
}
.butt{
    background-color: transparent;
    color: #1FD86F;
    border-color:#1FD86F ;
}
.buttonmenu{
    color:#1FD86F;
}

.principal{
    padding: 50px;
}

.bannerImages{
    height: 500px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.direitos{
    color: #1FD86F;
}

.rodape{
    height: 55px;
}

.images{
    height: 40px;
}